body{
  background-color: #eee;
  font-family: 'Helvetica', sans-serif;
}
.cv-container{
  max-width: 1024px;
  margin: auto;
}
h1{
  font-size: 80px;
  margin-bottom: 20px;
}
h2{
  font-size: 60px;
}
h1,h2{
  font-weight: 100;
  text-align: center;
}
a{
  color: #666;
  text-decoration: none;
}
a:hover, a:focus, a:active{
  color: #000;
}
aside{
  display: inline-block;
  float: left;
  width: 18%;
  margin-right: 2%;
}
.date{
  width: 10%;
  float: left;
}
.main-feed{
  width: 80%;
  float: right;
}
.entry p{
  margin-left: 10%;
}
