body{
  background-color: #eee;
  font-family: 'Helvetica', sans-serif;
}
.cv-container{
  max-width: 1024px;
  margin: auto;
}
h1{
  font-size: 80px;
  margin-bottom: 20px;
}
h2{
  font-size: 60px;
}
h1,h2{
  font-weight: 100;
  text-align: center;
}